.signInBtn {
    background-color: #1E52BB;
    width: 100%;
    height: 55px;
    font-size: 20px;
    margin: 1.25rem;
    transition: box-shadow 0.5s ease;
}

.signInBtn:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}