* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.menu {
    width: 16%;
    background-color: #282828;
}

.homePage {
    color: white;
    font-size: 3rem;
}

.homePage:hover {
    color: gray;
    font-size: 3rem;
}

.menuList {
    list-style: none;
    padding: 1rem;
}

.menuList li {
    color: white;
    height: 45px;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;
    text-align: left;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload {
    position: relative;
}

.uploadDropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 150px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.uploadDropdown .dropdownItem {
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadDropdown .dropdownItem:hover {
    cursor: pointer;
    background-color: #BDCFF4;
}

.mainHeader {
    width: 100%;
    height: 10%;
    padding: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.filesArea {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInBtn {
    margin: 0;
    border-radius: 6px;
    position: relative;
}