* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.passLayout {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6fa;
}

.forgotPasswordContainer {
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.forgotPasswordContainer h1 {
    margin: 1rem;
    height: fit-content;
    width: fit-content;
}

.forgotPasswordContainer .error {
    font-size: 1rem;
    margin: 1rem;
    color: red;
    height: fit-content;
    width: fit-content;
}

.resetPasswordForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    width: 450px;
    height: fit-content;
}

.resetPasswordForm label {
    font-size: 1.25rem;
    width: 100%;
    text-align: left;
    margin: 0.3rem;
    color: #697182;
    height: fit-content;
}

.resetPasswordForm input {
    height: 55px;
    width: 100%;
    border: 1px solid rgb(122, 119, 119);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin: 0.3rem;
    background-color: white;
    color: black;
}

.resetPasswordForm input::placeholder {
    color: rgb(169, 169, 169);
}

.goToSignIn {
    font-size: 1rem;
    margin: 1rem;
    color: #1E52BB;
    height: fit-content;
    width: fit-content;
}

.goToSignIn:hover {
    cursor: pointer;
    text-decoration: underline;
}