* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#editPageContainer {
    width: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    padding: 7.5%;
    color: black;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

h1{
    width: 100%;
    font-size: 3rem;
}

hr {
    margin: 3%;
    width: 100%;
}

.inputField {
    width: 100%;
    color: black;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.inputField label {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin: 0.3rem;
    color: #697182;
}

.inputField input {
    width: 100%;
    color: black;
    border: 1px solid rgb(122, 119, 119);
    border-radius: 5px;
    font-size: 1rem;
    height: 40px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 7px;
}

.buttonsChoice button:nth-child(2) {
    color: black;
}

.buttonsChoice {
    margin-top: 3%;
    display: flex;
}